/**
 * Styling for UserList and child components
 *
 * @author Chris Peters
 */

@import 'variables';

.user-list {
    
    .users {
          border: 1px solid gray;
          height: 256px;
          overflow: auto;
          padding: 0;

        .user {
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
            padding: 12px;
            transition: all .4s;

            &:hover {
                background-color: #eee;
            }
        }

        .user-delete {
            float: right;
        }
    }

    .user-count {
        color: $accent-col;
        float: right;
        font-size: 12px;
    }

    .add-user {
        display: block;
        float: right;
    }
}
 